vsphere_user     = "admin@vsphere.local"
vsphere_password = "P@ssw0rd@123"
vsphere_server   = "192.168.1.102"
allow_unverified_ssl = true

datacenter     = "Datacenter"
cluster        = "Cluster"
datastore_name = "datastore-1"
network_name   = "port-group"
template_name  = "ubuntu-template"

vm_count       = 10
vm_name_prefix = "app-vm"

ip_start     = "192.168.1.200"
netmask_cidr = 24
gateway      = "192.168.1.1"
dns_servers  = ["8.8.8.8", "8.8.4.4"]

vm_cpus         = 2
vm_memory       = 4096
vm_disk_size_gb = 40
